.toast {
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.5em 1em;
  border-radius: 6px;
  max-width: 60em;
  margin: 0 auto;

  color: #fff;
}

.error {
  background-color: #a5211d;
}
.success {
  background-color: #159d2f;
}